<!-- posts/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Bwetter</title>
</head>
<body>
<section class="hero is-small is-info mb-4">
    <div class="columns is-vcentered hero-body">
        <div class="column is-10">
            <h1 class="title is-1"><a href="/">Bwetter</a></h1>
            <p class="subtitle is-4">Your tiny social network built with Django</p>
        </div>
        {% if user.is_authenticated %}
        <div class="column"></div>
        <div class="column columns has-text-centered">
            <div class="column">
                <a aria-label="Profile" href="{% url 'user_profile:profile' user.profile.id %}">
                    <span class="icon is-large" aria-hidden="true">
                        <i class="far fa-3x fa-user"></i>
                    </span>
                </a>
            </div>
            <div class="column">
                <a aria-label="Profile" href="{% url 'logout' %}?next=/">
                    <span class="icon is-large" aria-hidden="true">
                        <i class="fas fa-3x fa-sign-out-alt"></i>
                    </span>
                </a>
            </div>
        </div>
        {% else %}
        <div class="column"></div>
        <div class="column is-1 right">
            <a aria-label="Profile" href="{% url 'login' %}">
                <button class="button hero is-link is-fullwidth">Sign-in</button>
            </a>
            <br>
            <a aria-label="Profile" href="{% url 'user_profile:register' %}">
                <button class="button hero is-success is-fullwidth">Sign-up</button>
            </a>
        </div>
        {% endif %}
    </div>
</section>
<div class="container">
    <div class="columns">
        {% block content %}{% endblock content %}
    </div>
</div>
</body>